In [3]:
import pandas as pd
pd.options.display.max_columns = 999

In [6]:
school = pd.read_csv("School/Vanderbilt.csv", index_col=0)
professor = pd.read_csv("Ratings/Daniel_Arena.csv", index_col=0)

In [ ]:
print("")

In [7]:
school.head()

,tDept,tSid,institution_name,tFname,tMiddlename,tLname,tid,tNumRatings,rating_class,contentType,categoryType,overall_rating
0,Computer Science,4002,Vanderbilt University,Waseem,NaN,Abbas,2522286,19,good,TEACHER,PROFESSOR,4.6
1,Biology,4002,Vanderbilt University,Patrick,NaN,Abbot,576773,32,good,TEACHER,PROFESSOR,4.3
2,Languages,4002,Vanderbilt University,Jacob,NaN,Abell,2185295,3,good,TEACHER,PROFESSOR,5.0
3,Languages,4002,Vanderbilt University,Trozenski,NaN,Abigail,2569568,0,zero,TEACHER,PROFESSOR,NaN
4,Engineering,4002,Vanderbilt University,Mark,NaN,Abkowitz,689793,2,good,TEACHER,PROFESSOR,4.8

In [8]:
professor.head()

,attendance,clarityColor,easyColor,helpColor,helpCount,id,notHelpCount,onlineClass,quality,rClarity,rClass,rComments,rDate,rEasy,rEasyString,rErrorMsg,rHelpful,rInterest,rOverall,rOverallString,rStatus,rTextBookUse,rTimestamp,rWouldTakeAgain,sId,takenForCredit,teacher,teacherGrade,teacherRatingTags,unUsefulGrouping,usefulGrouping
0,Mandatory,good,good,good,1,33943011,0,NaN,awesome,5,CS2212,I can't say enough good things about Arena. He...,12/03/2020,4.0,4.0,NaN,5,NaN,5.0,5.0,1,Yes,1607033005000,Yes,4002,Yes,NaN,Not sure yet,"['Amazing lectures', 'Respected']",people,person
1,NaN,good,average,good,0,33904800,0,online,awesome,5,CS2212,Prof Arena is probably one of the best teacher...,11/30/2020,3.0,3.0,NaN,5,NaN,5.0,5.0,1,Yes,1606710423000,Yes,4002,Yes,NaN,B,"['Gives good feedback', 'Hilarious', 'Amazing ...",people,people
2,Not Mandatory,good,average,good,1,33904434,0,NaN,awesome,5,CS2212,This was my second time taking Professor Arena...,11/30/2020,2.0,2.0,NaN,5,NaN,5.0,5.0,1,Yes,1606706347000,Yes,4002,Yes,NaN,A,"['Caring', 'Accessible outside class', 'Respec...",people,person
3,Not Mandatory,good,average,good,0,33902324,0,NaN,awesome,5,CS2212,"Prof. Arena is one of, if not the best profess...",11/29/2020,2.0,2.0,NaN,5,NaN,5.0,5.0,1,Yes,1606680846000,Yes,4002,Yes,NaN,A,"['Gives good feedback', 'Inspirational', 'Amaz...",people,people
4,Not Mandatory,good,average,good,0,33900976,0,online,awesome,5,CS2212,Just a great professor. Take him if you get th...,11/29/2020,3.0,3.0,NaN,5,NaN,5.0,5.0,1,Yes,1606631274000,Yes,4002,Yes,NaN,A,"['Inspirational', 'Clear grading criteria', 'C...",people,people